body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #B7C5D3;
    background-color: #30404C;
}

/*
 * Formatting the header area
 */
header {
    background-color: #1B1B1B;
    height: 35px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
}

header h1.logo {
    margin: 0;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    float: left;
}

header h1.logo:hover {
    color: #fff;
    text-decoration: none;
}

/*
 * Centering the body content
 */
.container {
    width: 1200px;
    margin: 0 auto;
}

div.plot {
    font-size: 1em;
    text-align: left;
    /* padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; */
}

/* div.about_me {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
} */

h2 {
    font-size: 1.5em;
    margin-top: 40px;
    text-align: left;
    letter-spacing: 0px;
}

h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: #999;
}

bigger-font {
    font-size: 1.2em;
}

bold-font {
    font-size: 1em;
    font-weight: bold;
}

.menu {
    float: right;
    margin-top: 8px;
}

.menu li {
    display: inline;
}

.menu li+li {
    margin-left: 35px;
}

.menu li a {
    color: #68A1F0;
    text-decoration: none;
}

/* CSS for div elements and img tags */
img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.auto-resize-medium {
    height: 50%;
    width: 50%;
}

.auto-resize-large {
    height: 75%;
    width: 75%;
}

.auto-resize-small {
    height: 25%;
    width: 25%;
}

.auto-resize-tiny {
    height: 15%;
    width: 15%;
}

/* Horizontal line */
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

option {
    font-size: 18px;
}

select {
    font-size: 18px;
}

button {
    font-size: 18px
}
