<!DOCTYPE html>
<html>

<body>
    {% extends "layout.html" %}
    {% block content %}
    <div class="home">
        <h1>The SeR App – Self-extubation Risk</h1>
        <p></p>
        <p></p>
        <bigger-font> MIMIC-III includes {{ num_se }} distinct self-extubation events
            with ICU stay longer than {{ mv_hours }} hours.</bigger-font>
        <p></p>
        <form method="POST" action="/">
            <span> Please select the 'icustay_id' of interest: </span>
                <select name=icustay_id_selection>
                    <option selected disabled hidden value="none">Select an Option</option>
                    {% for icustay_id in icustay_ids %}
                        {% if icustay_id == sel_icustay_id and icustay_id != ''%}
                            <option selected value="{{ icustay_id }}">{{ icustay_id }}</option>"
                        {% else %}
                            <option value="{{ icustay_id }}">{{ icustay_id }}</option>"
                        {% endif %}
                    {% endfor %}
                </select>
            <button type="submit" class="btn btn-default">Proceed</button>
        </form>
        <p></p><p></p>
        <hr>
        {% if sel_icustay_id !=''%}
            <h2>Information about the selected event</h2>
            ICU Stay ID: <demogr-font>{{ sel_icustay_id }}</demogr-font><p></p>
            Subject ID: <demogr-font>{{ sel_subject_id }}</demogr-font><p></p>
            Admission ID: <demogr-font>{{ sel_adm_id }}</demogr-font><p></p>

            Weight: <demogr-font>{{ sel_weight }} kg</demogr-font><p></p>
            Height: <demogr-font>{{ sel_height }} cm</demogr-font><p></p>
            BMI: <demogr-font>{{ sel_bmi }} kg/m^2</demogr-font><p></p>

            Start of Mechanical Ventilation: <demogr-font>{{ sel_start_mv }}</demogr-font><p></p>
            End of Mechanical Ventilation: <demogr-font>{{ sel_end_mv }}</demogr-font><p></p>
            Duration of Mechanical Ventilation before Self-extubation: <demogr-font>{{ sel_dur_mv }} hours</bigger-font><p></p>


            <form method="GET" action="/plot">
                <input type="hidden" name="sel_id" value={{ sel_icustay_id }}>
                <button type="submit" class="btn btn-default">Analyze</button>
            </form>
        {% endif %}

    </div>
    {% endblock %}
</body>

</html>
